$body-font: 'Open Sans', sans-serif;
$heading-font: 'DM Serif Text', sans-serif;

$white: #fff;
$black: #000;
$blue: #0433ff;
$pink: #ff0097;
$grey: #9fa3a7;

$border-color: #f4f4f7;

$primary-color: $blue;

$linear-gradient : linear-gradient(87deg, #0433ff, #ff0097);