.detail {
	max-width: 820px;
	margin: 0 auto;
	margin-bottom: 4rem;
	display: grid;
	grid-template-columns: 1fr minmax(620px, 1fr) 1fr;

	& > * {
		grid-column-start: 2; 
		grid-column-end: 3; 
	}

	img {
		grid-column-start: 1; 
		grid-column-end: 4; 
		margin: 30px auto;
	}

	p {
		font-size: 18px;
	    font-weight: normal;
	    line-height: 34px;
	    letter-spacing: 0.26px;
	    margin: 15px auto;
	}

	.article__title {
		font-size: 50px;
		margin-top: 0;
	}

	.article__info {
		margin-bottom: 40px;
		display: flex;
		align-items: center;

		& > span:first-child {
			margin-right: 1rem;
		}
		// justify-content: space-between;
	}

	.article__author{
		color: $grey;
		font-size: 12px;
		font-weight: 700;
	}
}