.headline{
    &--image,&--content{
        flex: 0 0 50%;
        position: relative;
    }
    &--content{
        padding: 30px 50px;
        &__category{
            text-transform: uppercase;
            letter-spacing: .5px;
            color: $blue;
            font-weight: 700;
            font-size: 14px;
            &:hover{
                text-decoration: underline;
            }
        }
        &__title{
            font-family: "DM Serif", sans-serif;
            color: $black;
            transition: all .3s ease;
            h2{
                font-size: 35px;
            }
            &:hover{
                color: $blue;
            }
        }
        ul {
            li{
                color: #9fa3a7;
                font-size: 12px;
                font-weight: 700;
                &:nth-child(2){
                    margin: 0 4px;
                }
            }
        }
    }
}