.latest{
    margin-left: -1em;
    margin-right: -1em;
    &--title{
        h3{
            margin-top: 3em;
        }
    }
    &--card{
        width: 25%;
        flex-direction: column;
        height: auto;
        padding: 1em;
        margin-bottom: 20px;
    }
    &--image{
        position: relative;
    }
    &--content{
        margin-top: 10px;
        &__category{
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $blue;
            font-weight: 700;
            font-size: 12px;
            &:hover{
                text-decoration: underline;
            }
        }
        &__title{
            font-family: "DM Serif", sans-serif;
            color: $black;
            transition: all .3s ease;
            &:hover{
                color: $blue;
            }
            h3{
                margin: 10px 0 5px;
            }
        }
        ul {
            margin: 0;
            li{
                color: $grey;
                font-size: 12px;
                font-weight: 700;
                &:nth-child(2){
                    margin: 0 4px;
                }
            }
        }
        p{
            color: $grey;
            font-family: "DM Serif", sans-serif;
            font-size: 14px;
            line-height: 24px;
            margin-top: 15px;
        }
    }
}