.button {
	border: 1px solid $primary-color;
	padding: 15px 40px;
	display: inline-block;
	margin-bottom: 1rem;
	border-radius: 40px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	position: relative;
	overflow: hidden;
	color: $primary-color;
	transition: color .3s ease;

	&:hover {
		color: $white;

		&:before {
			top: -5%;
		    transform: rotate(0);
		}
	}

	&:before {
		content: '';
		position: absolute;
		background-color: $primary-color;
		width: 200%;
		height: 200%;
		display: block;
	    left: -50%;
	    top: 118%;
	    transform: rotate(-8deg);
	    transition: all .3s cubic-bezier(1, 0.22, 0.18, 0.88);
	    z-index: -1;
	}

	&--standout {
		margin-bottom: 60px;
	}
}